name: CI

on:
  push:
    tags:
      - "v[0-9]*.[0-9]*.[0-9]*"
    branches:
      - "main"
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  lint:
    strategy:
      matrix:
        go:
          - stable
        os:
          - ubuntu-latest
          - macos-latest
    name: lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.10
          only-new-issues: true
  test:
    name: test
    strategy:
      matrix:
        go:
          - stable
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Test
        uses: robherley/go-test-action@v0
      - run: go test -race ./...

  build:
    name: build
    needs:
      - lint
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - uses: goreleaser/goreleaser-action@v7
        with:
          version: "~> v2"
          args: build --clean --snapshot

  release:
    name: release
    needs:
      - lint
      - test
      - build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - uses: goreleaser/goreleaser-action@v7
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
